@keyframes fadein {
    from {}
    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes timer {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
        opacity: 1;
    }
} 

@keyframes scoreboard {
    from {
        background-position: 0 0;
    }
}