@import url('animations.css');

:root {
    --brand-logo-color: #56b749;
    --main-bg-color: #86ca67;
    --main-bg-lite: #93cf77;
    --button-bg-dark:#3d6855;
    --button-bg-lite: #62995f;
    --main-text-color: #ffffff;
    --quiz-text-color: #999999;
    --badge-bg-color: #e2f1d7;
}

* {
    box-sizing: border-box
}

/* just spitballin' here */
@media (orientation: portrait) and (max-width: 667px) {
    
    body {
        font-size: 12px;
    }

    .question .prompt {
        font-size: large!important;
    }
}

body {
    padding: 0;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 5em calc(100vh - 10em) 5em;
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto 30vw;
    line-height: 5em;
    background: var(--main-bg-lite);
    box-shadow: 0 0 2px #00000033;
    overflow: hidden;
    text-align: center;
}

main {
    color: var(--quiz-text-color);
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0 3px 4px #00000033;
    transform: translateY(1em);
}

footer {
    text-align: center;
    line-height: 5em;
    color: var(--badge-bg-color);
    background: var(--button-bg-dark);
    font-weight: 300;
    font-size: small;
    z-index: -1;
}

.material-icons {
    vertical-align: middle;
}

/* UI switches / state transitions  */

body:after {
    content: 'Loading';
    opacity: 0;
    position: absolute;
    width: 100%;
    color: var(--button-bg-dark);
    box-shadow: 0 2px 0 0px var(--button-bg-dark), 0 2px 0 0 var(--button-bg-lite);
    top: calc(50vh - 1em);
    padding: 1em 0;
    text-align: center;
    z-index: 0;
    transition: all .5s 1.5s, box-shadow 1.5s linear;
    pointer-events: none;
}

body[unresolved]:after {   
    opacity: 1;
    box-shadow: -100vw 2px 0 0px var(--button-bg-dark), 0 2px 0 0 var(--button-bg-lite);
}

body[unresolved] header,
body[unresolved] main,
body[unresolved] footer {
    opacity: 0;
}

body:not([unresolved]) header,
body:not([unresolved]) main,
body:not([unresolved]) footer {
    opacity: 1;
    transition: opacity .3s 2s;
}

body:not([unresolved]) main {
    transform: translateY(0);   
    transition: transform .5s, all .2s 2.5s;
}

/* !important statements here are necessary to enforce style rule importance */

.modules-overview #modules-overview,
.module-intro #module-intro,
.module-questions #module-questions,
.module-score #module-score  {
    display: grid!important;
    opacity: 1;
    transform: translateX(0); 
}

main section {
    opacity: 0;
    display: none!important;
    transform: translateX(1em); 
    transition: all .5s;
    margin: 0 5em;
}

/* UI items*/ 

button[type="submit"],
button[type="button"] {
    background-color: var(--button-bg-lite);
    color: var(--main-text-color);
    cursor: pointer;
    padding: 1ex 1.5em;
    font-size: large;
    font-weight: 400;
    border: none;
    transition: background .2s;
    max-width: 10em;
    margin: auto;
}

button[type="submit"]:hover,
button[type="button"]:hover,
button[type="submit"]:focus,
button[type="button"]:focus {
    background-color: var(--button-bg-dark);
}

header h1 {
    padding: 0 1ex;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.quiz-title {
    font-weight: 400;
}

.module-title {
    font-weight: 200;
}

.user-info {
}

.avatar {
    background: #e2f1d7;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2;
}

.user-info label[for="toggle-sound-fx"] {cursor: pointer;}
.user-info label[for="toggle-sound-fx"] input[type="checkbox"] { visibility: hidden; }
.user-info label[for="toggle-sound-fx"] input + i { display: none }
.user-info label[for="toggle-sound-fx"] input + i + i {display: initial; color: var(--badge-bg-color);}
.user-info label[for="toggle-sound-fx"] input:checked + i {display: initial; color: var(--main-text-color);}
.user-info label[for="toggle-sound-fx"] input:checked + i + i {display: none}

.user-info label[for="toggle-sound-fx"] input[type="range"] {
    width: 60px;
    vertical-align: middle;
    transition: all .2s;
    background: transparent;
    outline: none;
    box-shadow: none;
}

.user-info label[for="toggle-sound-fx"] input ~ input { opacity: 0; pointer-events: none; }
.user-info label[for="toggle-sound-fx"] input:checked ~ input { opacity: 1; pointer-events: initial}

#modules-overview {
    max-width: 17em;
    display: grid;
    grid-template-rows: 5em 5em 5em;
    grid-template-columns: 5em 5em 5em;
    grid-gap: 1em;
    margin: 0 auto;
    padding: 3em 0;
}

#modules-overview button {
    color: white;
    font-weight: 300;
    background-color: transparent;
    min-width: 5em;
    min-height: 5em;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: grid;
    /* grid-template-rows: 64px auto; */
    background: var(--button-bg-lite);
    background-image: linear-gradient(var(--button-bg-lite) 50%, var(--button-bg-dark) 50%);
    background-position: 0px 0%;
    background-size: 200% 200%;
}

#modules-overview button.scorebubble {
    animation: scoreboard 1s ease-in-out;
}

#modules-overview button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: var(--button-bg-lite);
}

#modules-overview button.active {
    background: var(--button-bg-dark);
}

#modules-overview button > * {
    pointer-events: none
}

#modules-overview button.module::after {
    content: attr(data-score);
}

#module-intro {
    text-align: center;
    font-size: large;
    color: var(--badge-bg-color);
}

#module-questions {}

.question {
    opacity: 0;
    display: none;
    transform: translateY(1ex);
    user-select: none;
    padding: 1em 0;
}

.question[data-current-question] {
    display: block;
    animation: fadein 1s forwards;
}

/* question UI */
.question .timer {
    border-radius: 1em;
    height: 2em;
    margin: 1ex 6em 2ex;
    position: relative;
    overflow: hidden;
    background-color: var(--button-bg-lite);
    background-image: linear-gradient(90deg, var(--button-bg-dark), var(--button-bg-lite));
    box-shadow: inset 0 0 13px var(--button-bg-dark);
    color: white;
    text-align: center;
    line-height: 2;
    mix-blend-mode: difference;
}

.question .timer:after {
    border-radius: inherit;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--badge-bg-color);
    animation: timer 20s .5s linear forwards;
    transform-origin: left;
    opacity: 0.75;
    text-indent: 90%;
    color: white;
    line-height: 2em;
}

.question .prompt {
    display: grid;
    grid-template-columns: 64px auto 64px;
    font-size: large;
}

.question .prompt .avatar {
    margin: 1em auto;
    font-size: larger;
}

.question .prompt blockquote {
    margin: 1em;
    line-height: 1.8;
    background: white;
    color: var(--button-bg-dark);
    padding: 1ex;
    border-radius: 1ex;
    position: relative;
}

.question .prompt blockquote:after {
    content: '';
    display: block;
    background: white;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    top: 0.9em;
    left: -0.2em;
}

.question .hints {
    background-color: var(--button-bg-lite);
    list-style-type: none;
    width: auto;
    margin: 0 6em;
    line-height: 1.6em;
    min-height: calc(3 * 1.6em + 2em);
    padding: 1em;
    border-radius: .5em;
    color: var(--badge-bg-color);
}

.question .hints:before {
    content: 'hints';
    font-size: .5em;
    text-transform: uppercase;
    position: absolute;
    margin-top: -2em;
}
/* responses */
.question form {margin: 1em 6em 1em;}

.question form fieldset[disabled] {
    opacity: 0.6;
    box-shadow: inset 0 0 0 3px black;
    pointer-events: none;
}

.question form fieldset {
    border: none;
    padding: 1em;
    margin: 0;
}
input[type="text"] {
    background: white;
    border: none;
    width: 100%;
    font-size: large;
    color: var(--button-bg-dark);
    padding: 1ex;
    border-radius: .5ex;
        
}
input[type="checkbox"],
input[type="radio"] {
    background: white;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    -webkit-appearance: unset;
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow .1s;
    margin: 2ex;
}

input:focus {
    background: white;
    box-shadow: 0 0 0 2px var(--button-bg-dark);
}

input[type="checkbox"]:after,
input[type="radio"]:after {
    content: ' \2022';
    display: block;
    text-align: center;
    width: 1em;
    height: 1em;
    color: var(--main-bg-lite);
    opacity: 0;
    transition: opacity .3s .15s;
    line-height: 0.9em;
    text-indent: .1ex;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    box-shadow: 0 0 0 2px var(--button-bg-lite);
}

input[type="checkbox"]:hover:not(:checked):after,
input[type="radio"]:hover:not(:checked):after {
    opacity: 0.5
}

input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
    opacity: 1;
    transition: opacity .2s .05s;
    color: var(--button-bg-dark);
}

input[type="checkbox"]{
    border-radius: 5%;
}

input[type="checkbox"]:after{
    content: ' \2713';
}

.response fieldset.responses div {
    display: grid;
    /* grid-template-rows: 3em; */
}

.response fieldset.responses label {
    /*! padding: 1ex; */
    color: var(--main-text-color);
    cursor: pointer;
    transition: background .3s;
    background: transparent;
    border-radius: 0.5em;
    user-select: none;
}

.response fieldset.responses label:hover,
.response fieldset.responses label:focus {
    background: #ffffff55;
}

/* bad answer */

.response fieldset.responses label.error {
    background: #fff1;
    color: var(--button-bg-lite);
    cursor: not-allowed;
}

.response fieldset.responses label.error input[type="text"] {
    /*! color: red; */
    box-shadow: inset 0 0 0 2px var(--button-bg-lite);
    background: rgba(255,255,255,.5);
}
.response fieldset.responses label.error input[type=checkbox]:after,
.response fieldset.responses label.error input[type=radio]:after {
    content: ' \2717';
    opacity: 1;
    color: white!important;
}

.response fieldset.responses label.error input[type=checkbox],
.response fieldset.responses label.error input[type=radio] {
    color: white;
    background-color: var(--button-bg-lite);
}
.response fieldset.responses label .feedback {
    display: none;
}
.response fieldset.responses label.error .feedback:not(:empty) {
    display: block;
    margin: .5em 1em 1em 0.8em;
    background: white;
    padding: .5em;
    border-radius: .3ex;
}

/* submit answer */

.response fieldset.answer {
    text-align: center;
}

/* module scoreboard*/
#module-score {
    display: grid;
    text-align: center;
    color: white;
    grid-template-rows: 6em 6em 3em 3em;
    align-items: center;
}

#module-score h1 {font-weight: 200;}

#module-score h1 strong {
    display: block;
    line-height: 0.7;
    font-size: 3em;
    letter-spacing: -.15ex;
    color: var(--button-bg-dark);
}